

#sidebar-a #mc-embedded-subscribe-form {
  padding-top: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  padding-bottom: 0px;
}

#main .content .field {
  margin-top: 0px;
  border-top-width: 0px;
  border-style: solid;
}

#banner-region .view-news-outlook .field-content a {
  border-right-width: 0px;
  border-style: solid;
}

#banner-region #rotating-banner-1 .rb-slides {
  margin-left: 9px;
}

#sidebar-a #mc-embedded-subscribe {
  margin-bottom: 0px;
}

#content-top .view-gallery-teasers .field-content a {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 12px;
  font-weight: bold;
}

#sidebar-a .block {
  padding-left: 1px;
  padding-right: 5px;
}

#sidebar-a a img {
  border-top-width: 0px;
  border-style: solid;
}

#content-top {
  padding-top: 0px;
}

#sidebar-a form {
  padding-top: 0px;
}

#banner-region #block-views-news-outlook-block h2 {
  padding-left: 10px;
}

#banner-region .content .rotating-banner {
  margin-left: 0px;
}

#banner-region .view-news-outlook .views-row .views-field {
  border-left-width: 0px;
  border-style: solid;
  margin-left: 0px;
  font-size: 14px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#banner-region h2 {
  margin-left: 0px;
  font-family: 'Titillium Text 999','Helvetica','serif';
  font-size: 17px;
  background-image: none;
  padding-left: 0px;
  padding-bottom: 4px;
  margin-top: 8px;
}

#banner .box {
  padding-left: 0px;
}

#main .field-items .field-item p {
  font-size: 14px;
}

#banner-region .block h2 {
  padding-left: 0px;
}

#banner-region .follow-links a {
  padding-left: 29px;
  padding-top: 9px;
}

#banner-region .content {
  border-left-width: 0px;
  border-style: solid;
}

#header-region .container a {
  margin-bottom: 0px;
}

#header-region .content ul {
  padding-left: 0px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 14px;
  letter-spacing: -0.8px;
}

#sidebar-a .region-sidebar-a {
  padding-left: 6px;
}

#sidebar-a .content p {
  margin-top: 0px;
}

#banner-region .view-news-outlook .field-content a:hover {
  color: #fe941e;
}

#banner-region .content p {
  font-size: 12px;
  color: #fe941e;
  margin-top: 9px;
}

#banner-region .block {
  margin-top: 0px;
}

#main .media-gallery-back-link a {
  font-size: 18px;
}

#content-top .view-gallery-teasers .field-content a:hover {
  color: #fe941e;
}

#banner-region .field-item .styles {
  border-bottom-width: 0px;
  border-style: solid;
}

#banner-region .static-wrapper .rb-slides {
  padding-left: 9px;
  border-top-width: 14px;
}

#banner-region .static-wrapper #rotating-banner-11 .rb-slides {
  border-left-width: 20px;
}

#banner-region #rotating-banner-11 .rb-slides {
  border-right-width: 10px;
  border-left-width: 10px;
}

#main .media-gallery-controls a {
  font-size: 18px;
}

#main .media-gallery-detail-image-info-wrapper .media-gallery-image-count {
  font-size: 22px;
}

#header-region .block {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#main .view-recent-events h2 a {
  border-top-width: 3px;
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
}

#sidebar-a .container-inline h2 {
  padding-left: 17px;
}

#sidebar-a #search-block-form .container-inline {
  margin-right: 46px;
}

#main .media-gallery-detail-wrapper .media-gallery-detail {
  margin-right: 16px;
  border-left-width: 0px;
  border-style: solid;
}

#main .no-overflow .field {
  margin-left: 0px;
}

#main {
  padding-right: 0px;
  padding-left: 10px;
}

#main .oembed a {
  border-left-width: 0px;
  border-style: solid;
}

#main .region-content .media-gallery-detail-wrapper {
  border-bottom-width: 0px;
  border-style: solid;
}

#sidebar-b {
  margin-left: 7px;
  border-left-width: 4px;
  padding-left: 22px;
}

#main ul li {
  font-size: 14px;
}

#header-inner .col-c {
  border-bottom-width: 0px;
  border-style: solid;
}

#banner-region .rb-textbox-type-text a {
  border-top-width: 0px;
  border-style: solid;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

body {
  background-color: #d1ccc9;
  background-image: none;
}

#main .field-items .field-item {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
  border-top-width: 0px;
  border-style: solid;
}

#banner-region .rb-textbox-wrapper a {
  margin-left: 1px;
}

#banner-region .rb-slide .top-left {
  margin-left: 94px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

.col-c .field-items .field-item p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
}

.page-width #content #content-inner #main .pane #content-area .region-content .view-gallery-teasers {
  margin-right: 99px;
  border-left-width: 0px;
  border-style: solid;
  border-right-width: 5px;
}

#banner-region a {
  margin-left: 0px;
}

#page {
  background-color: #f0edeb;
  font-size: 10px;
  padding-top: 0px;
}

#main .field-item p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 14px;
  margin-top: 0px;
}

#banner-region .rb-slide .custom {
  margin-left: 96px;
}

#banner-region .rb-textbox-type-header a {
  border-left-width: 0px;
  border-style: solid;
  padding-top: 0px;
  padding-right: 99px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-right: 18px;
  border-right-width: 0px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  margin-left: 0px;
}

#sidebar-a {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  border-top-width: 0px;
}

#sidebar-b .view-resources .item-list ul {
  padding-left: 0px;
}

#banner-region a img {
  margin-left: 0px;
}

#sidebar-a h2 {
  font-size: 16px;
  font-family: 'Titillium Text 999','Helvetica','serif';
  padding-right: 0px;
  padding-left: 17px;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: -1px;
  border-left-width: 0px;
  border-style: solid;
  margin-left: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  padding-top: 0px;
  text-align: left;
  border-right-width: 0px;
}

#main .content p {
  font-size: 13px;
  font-family: 'Arial','Helvetica','sans-serif';
}

#preheader-second-region .level-1 a {
  font-size: 16px;
  border-right-width: 0px;
  border-style: solid;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#preheader-second-region .level-1 .active {
  font-size: 16px;
}

.col-c .field-items .field-item p:hover {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
}

#main p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 20px;
}

#main .view-gallery-teasers table tbody {
  border-right-width: 0px;
  border-style: solid;
}

#main .view-news-outlook .field-content a {
  font-size: 15px;
  font-family: 'Palatino','Times New Roman','serif';
}

#navigation .col-1:last-child {
  padding-left: 4px;
  font-size: 10px;
}

#block-feedback-feedback .content a {
  background-color: #fe941e;
}

#navigation-region .content ul {
  background-image: url("images/banner2_0.jpg");
  background-repeat: no-repeat;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#main .view-gallery-teasers .field-content p {
  font-size: 12px;
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
}

#preheader-second-region .level-1 a:hover {
  color: #fe941e;
}

#navigation-region .level-1 a:hover {
  color: #fe941e;
}

#navigation .inset-3 {
  background-color: #4f5251;
}

#navigation .box {
  background-image: url("images/banner2.jpg");
}

#navigation-region .level-1 a {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 14px;
  border-left-width: 0px;
  border-style: solid;
  margin-left: 7px;
}

#main h2 a {
  font-size: 22px;
  font-family: 'Palatino','Times New Roman','serif';
}

#main .view-news-outlook .views-field .views-label {
  font-size: 15px;
}

#main h2 {
  font-family: 'CartoGothic','Helvetica','serif';
}

#sidebar-a .view-resources .field-content a {
  font-family: 'Palatino','Times New Roman','serif';
}

#header-inner {
  border-top-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-left-width: 4px;
  margin-top: 0px;
}

#sidebar-a #mc-embedded-subscribe-form {
  padding-top: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  padding-bottom: 0px;
}

#main .content .field {
  margin-top: 0px;
  border-top-width: 0px;
  border-style: solid;
}

#banner-region .view-news-outlook .field-content a {
  border-right-width: 0px;
  border-style: solid;
}

#banner-region #rotating-banner-1 .rb-slides {
  margin-left: 9px;
}

#sidebar-a #mc-embedded-subscribe {
  margin-bottom: 0px;
}

#content-top .view-gallery-teasers .field-content a {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 12px;
  font-weight: bold;
}

#sidebar-a .block {
  padding-left: 1px;
  padding-right: 5px;
}

#sidebar-a a img {
  border-top-width: 0px;
  border-style: solid;
}

#content-top {
  padding-top: 0px;
}

#sidebar-a form {
  padding-top: 0px;
}

#banner-region #block-views-news-outlook-block h2 {
  padding-left: 10px;
}

#banner-region .content .rotating-banner {
  margin-left: 0px;
}

#banner-region .view-news-outlook .views-row .views-field {
  border-left-width: 0px;
  border-style: solid;
  margin-left: 0px;
  font-size: 14px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#banner-region h2 {
  margin-left: 0px;
  font-family: 'Titillium Text 999','Helvetica','serif';
  font-size: 17px;
  background-image: none;
  padding-left: 0px;
  padding-bottom: 4px;
  margin-top: 8px;
}

#banner .box {
  padding-left: 0px;
}

#main .field-items .field-item p {
  font-size: 14px;
}

#banner-region .block h2 {
  padding-left: 0px;
}

#banner-region .follow-links a {
  padding-left: 29px;
  padding-top: 9px;
}

#banner-region .content {
  border-left-width: 0px;
  border-style: solid;
}

#header-region .container a {
  margin-bottom: 0px;
}

#header-region .content ul {
  padding-left: 0px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 14px;
  letter-spacing: -0.8px;
}

#sidebar-a .region-sidebar-a {
  padding-left: 6px;
}

#sidebar-a .content p {
  margin-top: 0px;
}

#banner-region .view-news-outlook .field-content a:hover {
  color: #fe941e;
}

#banner-region .content p {
  font-size: 12px;
  color: #fe941e;
  margin-top: 9px;
}

#banner-region .block {
  margin-top: 0px;
}
#banner-region #block-block-126,
#banner-region #block-rotating-banner-11 {
  float: left;
  width: 570px;
  margin-right: 20px;
}
#banner-region #block-block-133 {
  float: right;
  width: 350px;
  clear: none;
  margin-top: 20px;
}
#banner-region #block-block-133 iframe {
  width: 350px;
  height: 326px;
}

#main .media-gallery-back-link a {
  font-size: 18px;
}

#content-top .view-gallery-teasers .field-content a:hover {
  color: #fe941e;
}

#banner-region .field-item .styles {
  border-bottom-width: 0px;
  border-style: solid;
}

#banner-region .static-wrapper .rb-slides {
  padding-left: 9px;
  border-top-width: 14px;
}

#banner-region .static-wrapper #rotating-banner-11 .rb-slides {
  border-left-width: 20px;
}

#banner-region #rotating-banner-11 .rb-slides {
  border-right-width: 10px;
  border-left-width: 10px;
}

#main .media-gallery-controls a {
  font-size: 18px;
}

#main .media-gallery-detail-image-info-wrapper .media-gallery-image-count {
  font-size: 22px;
}

#header-region .block {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#block-search-form {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 10px;
}
#block-search-form #edit-search-block-form--2 {
  margin-right: 6px;
  width: 160px;
}

#main .view-recent-events h2 a {
  border-top-width: 3px;
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
}

#sidebar-a .container-inline h2 {
  padding-left: 17px;
}

#sidebar-a #search-block-form .container-inline {
  margin-right: 46px;
}

#main .media-gallery-detail-wrapper .media-gallery-detail {
  margin-right: 16px;
  border-left-width: 0px;
  border-style: solid;
}

#main .no-overflow .field {
  margin-left: 0px;
}

#main {
  padding-right: 0px;
  padding-left: 10px;
}

#main .oembed a {
  border-left-width: 0px;
  border-style: solid;
}

#main .region-content .media-gallery-detail-wrapper {
  border-bottom-width: 0px;
  border-style: solid;
}

#sidebar-b {
  margin-left: 7px;
  border-left-width: 4px;
  padding-left: 22px;
}

#main ul li {
  font-size: 14px;
}

#header-inner .col-c {
  border-bottom-width: 0px;
  border-style: solid;
}

#banner-region .rb-textbox-type-text a {
  border-top-width: 0px;
  border-style: solid;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

body {
  background-color: #d1ccc9;
  background-image: none;
}

#main .field-items .field-item {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
  border-top-width: 0px;
  border-style: solid;
}

#banner-region .rb-textbox-wrapper a {
  margin-left: 1px;
}

#banner-region .rb-slide .top-left {
  margin-left: 94px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

.col-c .field-items .field-item p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
}

.page-width #content #content-inner #main .pane #content-area .region-content .view-gallery-teasers {
  margin-right: 99px;
  border-left-width: 0px;
  border-style: solid;
  border-right-width: 5px;
}

#banner-region a {
  margin-left: 0px;
}

#page {
  background-color: #f0edeb;
  font-size: 10px;
  padding-top: 0px;
}

#main .field-item p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 14px;
  margin-top: 0px;
}

#banner-region .rb-slide .custom {
  margin-left: 96px;
}

#banner-region .rb-textbox-type-header a {
  border-left-width: 0px;
  border-style: solid;
  padding-top: 0px;
  padding-right: 99px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-right: 18px;
  border-right-width: 0px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  margin-left: 0px;
}

#sidebar-a {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  border-top-width: 0px;
}

#sidebar-b .view-resources .item-list ul {
  padding-left: 0px;
}

#banner-region a img {
  margin-left: 0px;
}

#sidebar-a h2 {
  font-size: 16px;
  font-family: 'Titillium Text 999','Helvetica','serif';
  padding-right: 0px;
  padding-left: 17px;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: -1px;
  border-left-width: 0px;
  border-style: solid;
  margin-left: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  padding-top: 0px;
  text-align: left;
  border-right-width: 0px;
}

#main .content p {
  font-size: 13px;
  font-family: 'Arial','Helvetica','sans-serif';
}

#preheader-second-region .level-1 a {  
font-size: 16px;
  border-right-width: 0px;
  border-style: solid;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#preheader-second-region .level-1 .active {
  font-size: 16px;
}

.col-c .field-items .field-item p:hover {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 13px;
}

#main p {
  font-family: 'Arial','Helvetica','sans-serif';
  font-size: 20px;
}

#main .view-gallery-teasers table tbody {
  border-right-width: 0px;
  border-style: solid;
}

#main .view-news-outlook .field-content a {
  font-size: 15px;
  font-family: 'Palatino','Times New Roman','serif';
}

#navigation .col-1:last-child {
  padding-left: 4px;
  font-size: 10px;
}

#block-feedback-feedback .content a {
  background-color: #fe941e;
}

#navigation-region .content ul {
  background-image: url("images/banner2_0.jpg");
  background-repeat: no-repeat;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#main .view-gallery-teasers .field-content p {
  font-size: 12px;
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
}

#preheader-second-region .level-1 a:hover {
  color: #fe941e;
}

#navigation-region .level-1 a:hover {
  color: #fe941e;
}

#navigation .inset-3 {
  background-color: #4f5251;
}

#navigation .box {
  background-image: url("images/banner2.jpg");
}

#navigation-region .level-1 a {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 14px;
  border-left-width: 0px;
  border-style: solid;
  margin-left: 7px;
}

#main h2 a {
  font-size: 22px;
  font-family: 'Palatino','Times New Roman','serif';
}

#main .view-news-outlook .views-field .views-label {
  font-size: 15px;
}

#main h2 {
  font-family: 'CartoGothic','Helvetica','serif';
}

#sidebar-a .view-resources .field-content a {
  font-family: 'Palatino','Times New Roman','serif';
}

#header-inner {
  border-top-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-left-width: 4px;
  margin-top: 0px;
}

#preheader-second-region .content ul {
  font-size: 10px;
}

#header-region #logo img {
  border-bottom-width: 0px;
  border-style: solid;
}

#main ul li:last-child {
  font-size: 14px;
}

.menu-link-3436 a:active {
  color: #fe941e;
}

#preheader-second-region .level-1 .active:active {
  font-size: 10px;
}

#preheader-second-region .level-1 a:active {
  font-size: 12px;
}

#banner-region .view-news-outlook .field-content a:active {
  color: #fe941e;
}

#content-top .view-gallery-teasers .field-content a:active {
  color: #fe941e;
}

#navigation-region .level-1 a:active {
  color: #fe941e;
}